<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Magium</title>
        <link rel="stylesheet" href="/styles/main2.css">
        <link rel="stylesheet" href="/styles/stats.css">
        <link rel="icon" href="/images/magium.ico" type="image/x-icon">
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
        <script src="/scripts/utils.js"></script>
      </head>
      <body>
        <main id="main">
            <div class="header" style="justify-content: center;">
              <h2>STATS</h2>
            </div>
            <div class="content">
                <div class="stats-container">
                    <div class="stat-container" style="grid-column: 1 / span 2; grid-row: 1;">
                        <div>Available Points: </div>
                        <div id="available_points">0</div>
                    </div>

                    <div class="stat-container" style="grid-column: 1; grid-row: 2;">
                        <div>Strength: </div>
                        <div id="strength">0</div>
                    </div>

                    <div class="stat-container" style="grid-column: 1; grid-row: 3;">
                        <div>Toughness: </div>
                        <div id="toughness">0</div>
                    </div>

                    <div class="stat-container" style="grid-column: 2; grid-row: 2;">
                        <div>Speed: </div>
                        <div id="speed">0</div>
                    </div>

                    <div class="stat-container" style="grid-column: 2; grid-row: 3;">
                        <div>Reflexes: </div>
                        <div id="reflexes">0</div>
                    </div>

                    <div class="stat-container" style="grid-column: 1; grid-row: 4;">
                        <div>Hearing: </div>
                        <div id="hearing">0</div>
                    </div>

                    <div class="stat-container" style="grid-column: 2; grid-row: 4;">
                        <div>Observation: </div>
                        <div id="observation">0</div>
                    </div>

                    <div class="stat-container" style="grid-column: 1 / span 2; grid-row: 5;">
                        <div>Ancient Languages: </div>
                        <div id="ancient_languages">0</div>
                    </div>

                    <div class="stat-container" style="grid-column: 1 / span 2; grid-row: 6;">
                        <div>Combat Technique: </div>
                        <div id="combat_technique">0</div>
                    </div>

                    <div class="stat-container" style="grid-column: 1 / span 2; grid-row: 7;">
                        <div>Premonition: </div>
                        <div id="premonition">0</div>
                    </div>
                </div>
                <div id="stats-button-container">
                <button onclick="void(0)" id="cancel-changes">Cancel Changes</button>
                <button onclick="void(0)" id="confirm-changes">Confirm Changes</button>
                <button onclick="navigateTo('/')" id="return-to-game">Return to game</button>
                </div>
            </div>
            <div class="footer">
              <button class="footer-button" onclick="toggleTheme()">Activate Night Mode</button>
              <p>Magium v0.1</p>
            </div>
        </main>
        <!-- <script src="main.js"></script> -->
      </body>
</html>