.about-main {
    margin: 0 auto; /* Centers horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 25em;
    padding-bottom: 5em;
}

.about-text {
    text-align: center;
}

.about-socials {
    display: flex;
    margin: 0 -10px;
}

.about-socials > div {
    margin: 0 10px;
}

.about-socials-img {
    height: 50px;
}
