.achievement-box {
    align-items: center;
    margin: auto;
    margin-bottom: 1em;
    width: 300px;
    height: 100px;
    background-image: url('/images/achievement_side_contour.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
}

.achievement-title {
    color: #FF6820;
}

.achievement-caption {
    color: #000000;
}

.achievement-columns {
    display: flex;
    width: 75%;
    margin: auto;
}

.achievement-text {
    margin-left: 1em;
}

.achievement-modal {
    visibility: hidden;
    display: flex;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 70px;
    background-color: #FFFFFF;
    background-image: url('/images/achievement_box.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.achievement-modal-columns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: fit-content;
    margin: auto;
}

.achievement-modal-title {
    color: #D6D6EA;
    font-size: 0.75em;
    text-align: center;
}

.achievement-modal-caption {
    color: #D6D6EA;
    font-size: 0.6em;
    text-align: center;
}

.achievement-modal-content {
    display: flex;
    flex-direction: column;
}

.trophy-image {
    width: 50px;
    height: 50px;
    padding: 5px;
}

@media (min-width: 800px) {
    .achievement-box {
        width: 600px;
        height: 200px;
    }

    .achievement-modal {
        width: 600px;
        height: 140px;
    }

    .achievement-modal-title {
        font-size: 1.5em;
    }

    .achievement-modal-caption {
        font-size: 1.2em;
    }

    .trophy-image {
        width: 100px;
        height: 100px;
        padding: 10px;
    }
}
