.achievement-box {
    align-items: center;
    margin: auto;
    margin-bottom: 1em;
    width: 600px;
    height: 200px;
    background-image: url('/images/achievement_side_contour.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
}

.achievement-title {
    color: #FF6820;
}

.achievement-caption {
    color: #000000;
}

.achievement-columns {
    display: flex;
    width: 75%;
    margin: auto;
}

.achievement-text {
    margin-left: 1em;
}

.achievement-modal {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    align-items: center;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 140px;
    background-color: #FFFFFF;
    background-image: url('/images/achievement_box.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
}

.achievement-modal-columns {
    display: flex;
    width: 75%;
    margin: auto;
}

.achievement-modal-title {
    color: #D6D6EA;
    font-size: 1.5em;
}

.achievement-modal-caption {
    color: #D6D6EA;
    font-size: 1.2em;
}

.achievement-modal-content {
    display: flex;
    flex-direction: column;
}
