.footer {
    /* Create a Flex Box */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* Add the required colors */
    background-color: var(--header-background-color);
    color: var(--header-text-color);

    /* Fix */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer > * {
    font-size: small;
}

.footer > * {
    margin-left: 1em;
    margin-right: 1em;
}
