.header {
    /* Ensure middle element is centered */
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) minmax(0, auto) minmax(max-content, 1fr);

    /* Add the required colors */
    background-color: var(--header-background-color);
    color: var(--header-text-color);

    /* Fix */
    position: fixed;
    top: 0;
    width: 100%;

    container-type: inline-size;
}

.header > button {
    /* margin: 10px; */
    background-color: transparent;
    border-color: transparent;
    color: var(--header-text-color);
    font-weight: bold;

    cursor: pointer;
}

.header > * {
    margin-left: 1em;
    margin-right: 1em;
}

.header-left {
    text-align: left;
}

.header-right {
    text-align: right;
}

.header-title {
    font-size: 4cqw;
}

@container (width > 600px) {
    .header-title {
        font-size: x-large;
    }
}
