.header {
    /* Create a Flex Box */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* Add the required colors */
    background-color: var(--header-background-color);
    color: var(--header-text-color);

    /* Fix */
    position: fixed;
    top: 0;
    width: 100%;
}

.header > button {
    /* margin: 10px; */
    background-color: transparent;
    border-color: transparent;
    color: var(--header-text-color);
    font-weight: bold;

    cursor: pointer;
}

.header > * {
    margin-left: 1em;
    margin-right: 1em;
}
