.header {
    /* Create a Flex Box */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* Add the required colors */
    background-color: black;
    color: white;
    
    /* Fix */
    position: fixed;
    top: 0;
    width: 100%;
}

.header-button {
    /* margin: 10px; */
    background-color: transparent;
    border-color: transparent;
    color: white;

    margin-left: 1em;
    margin-right: 1em;
}

.content {
    /* Add some padding */
    padding-top: 100px;
}

.response {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.response button {
    margin-bottom: 2em;
    padding: 0.5em;
    width: calc(30vw);

    background-color: #535353;
    color: white;

    cursor: pointer;
}