/* Handles Light and Dark theme */

/* Default Theme (Light) */
:root {
    --background-color: #ffffff;
    --text-color: #000000;

    --header-background-color: #000000;
    --header-text-color: #ffffff;

    --button-color: #535353;
    --button-text-color: #ffffff;
    --button-border-color: transparent;

    --saves-text-color: #a52a2a;
}

/* Dark Theme */
[data-theme="dark"] {
    --background-color: #000000;
    --text-color: #ffffff;

    --header-background-color: #CBCBCB;
    --header-text-color: #000000;

    --button-color: #535353;
    --button-text-color: #ffffff;
    --button-border-color: transparent;

    --saves-text-color: #a52a2a;
}

/* Other Themes can be added similarly */

body {
    /* Set the background color */
    background-color: var(--background-color);
    color: var(--text-color);

    font-family: Arial, sans-serif;
    margin: 0;
}

button {
    font-family: Arial, sans-serif;
}


.header {
    /* Create a Flex Box */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* Add the required colors */
    background-color: var(--header-background-color);
    color: var(--header-text-color);

    /* Fix */
    position: fixed;
    top: 0;
    width: 100%;
}

.header > button {
    /* margin: 10px; */
    background-color: transparent;
    border-color: transparent;
    color: var(--header-text-color);
    font-weight: bold;

    cursor: pointer;
}

.header > * {
    margin-left: 1em;
    margin-right: 1em;
}

.content {
    /* Add some padding */
    padding: 6em 1em;
}

@media (min-width: 800px) {
    .content {
        padding: 6em 3em;
    }
}

.response {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.response > button {
    margin-bottom: 2em;
    padding: 0.5em;
    width: calc(30vw);

    background-color: var(--button-color);
    color: var(--button-text-color);
    border-color: var(--button-border-color);

    cursor: pointer;
}

.footer {
    /* Create a Flex Box */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* Add the required colors */
    background-color: var(--header-background-color);
    color: var(--header-text-color);

    /* Fix */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer > button {
    /* margin: 10px; */
    background-color: transparent;
    border-color: transparent;
    color: var(--header-text-color);

    cursor: pointer;
}

.footer > * {
    margin-left: 1em;
    margin-right: 1em;
}

.stat_success {
    color: #009300
}

.stat_fail {
    color: #C00000
}

.achievement-box {
    align-items: center;
    margin: auto;
    margin-bottom: 1em;
    width: 600px;
    height: 200px;
    background-image: url('/images/achievement_side_contour.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
}

.achievement-title {
    color: #FF6820;
}

.achievement-caption {
    color: #000000;
}

.achievement-columns {
    display: flex;
    width: 75%;
    margin: auto;
}

.achievement-text {
    margin-left: 1em;
}

.achievement-modal {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    align-items: center;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 140px;
    background-color: #FFFFFF;
    background-image: url('/images/achievement_box.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
}

.achievement-modal-columns {
    display: flex;
    width: 75%;
    margin: auto;
}

.achievement-modal-title {
    color: #D6D6EA;
    font-size: 1.5em;
}

.achievement-modal-caption {
    color: #D6D6EA;
    font-size: 1.2em;
}

.achievement-modal-content {
    display: flex;
    flex-direction: column;
}

.description {
    margin-bottom: 1em;
    font-size: 0.75em;
}

.save-list {
    display: flex;
    row-gap: 0.1em;
    flex-direction: column;
    align-items: start;

    /* width: 80%; */
    width: fit-content;
    margin: auto;
    margin-bottom: 2em;
}

.save-entry {
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
    align-items: center;
}

.save-entry > span {
    font-size: 0.75em;
}

.save-entry > button {
    /* margin-bottom: 2em; */
    padding: 0.5em;
    font-size: 0.75em;

    background-color: var(--button-color);
    color: var(--button-text-color);
    border-color: var(--button-border-color);

    cursor: pointer;
}

.save-name-input {
    /* width: 100%; */
    padding: 0.5em;
    font-size: 0.75em;
    border: 2px solid var(--saves-text-color);
    /* border-radius: 25px; */
    background-color: var(--background-color);
    color: var(--saves-text-color);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    outline: none;
}

@media (min-width: 800px) {
    .save-list {
        row-gap: 0.2em;
    }

    .save-entry {
        column-gap: 1em;
    }

    .save-entry > span {
        font-size: 0.875em;
    }

    .save-entry > button {
        width: calc(10vw);
        font-size: 0.875em;
    }

    .description {
        width: 60%;
        margin: auto;
        margin-bottom: 2em;
        font-size: 1em;
    }

    .description > div {
    }

    .save-name-input {
        font-size: 0.875em;
    }
}