.header {
    /* Create a Flex Box */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* Add the required colors */
    background-color: black;
    color: white;
    
    /* Fix */
    position: fixed;
    top: 0;
    width: 100%;
}

.header-button {
    /* margin: 10px; */
    background-color: transparent;
    border-color: transparent;
    color: white;

    margin-left: 1em;
    margin-right: 1em;
}

.content {
    /* Add some padding */
    padding-top: 100px;
}