:root {
    color-scheme: light dark;
    --background-color: light-dark(#ffffff,#000000);
    --text-color: light-dark(#000000,#ffffff);

    --header-background-color: light-dark(#000000,#CBCBCB);
    --header-text-color: light-dark(#ffffff,#000000);

    --button-color: light-dark(#535353,#535353);
    --button-text-color: light-dark(#ffffff,#ffffff);
    --button-border-color: transparent;

    --saves-text-color: light-dark(#a52a2a,#a52a2a);
}

.theme-catppuccin {
    color-scheme: light dark;
    --background-color: light-dark(#e6e9ef,#181825);
    --text-color: light-dark(#4c4f69,#cdd6f4);

    --header-background-color: light-dark(#eff1f5,#1e1e2e);
    --header-text-color: light-dark(#4c4f69,#cdd6f4);

    --button-color: light-dark(#eff1f5,#11111b);
    --button-text-color: light-dark(#4c4f69,#cdd6f4);
    --button-border-color: transparent;

    --saves-text-color: light-dark(#d20f39,#f38ba8);
}

body {
    /* Set the background color */
    background-color: var(--background-color);
    color: var(--text-color);

    font-family: Arial, sans-serif;
    margin: 0;
}
