.description {
    margin-bottom: 1em;
    font-size: 0.75em;
}

.save-list {
    display: flex;
    row-gap: 0.1em;
    flex-direction: column;
    align-items: start;

    /* width: 80%; */
    width: fit-content;
    margin: auto;
    margin-bottom: 2em;
}

.save-entry {
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
    align-items: center;
}

.save-entry > span {
    font-size: 0.75em;
}

.save-entry > button {
    /* margin-bottom: 2em; */
    padding: 0.5em;
    font-size: 0.75em;

    background-color: var(--button-color);
    color: var(--button-text-color);
    border-color: var(--button-border-color);

    cursor: pointer;
}

.save-entry .save-file-input {
    padding: 0.625em;
    font-size: 0.75em;

    background-color: var(--button-color);
    color: var(--button-text-color);
    border-color: var(--button-border-color);

    cursor: pointer;
}

.save-name-label {
    /* width: 100%; */
    padding: 0.5em;
    font-size: 0.75em;
    /* border: 2px solid var(--saves-text-color); */
    /* border-radius: 25px; */
    background-color: var(--background-color);
    color: var(--saves-text-color);
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); */
    transition: all 0.3s ease;
    outline: none;
}

.save-name-input {
    /* width: 100%; */
    padding: 0.5em;
    font-size: 0.75em;
    border: 2px solid var(--saves-text-color);
    /* border-radius: 25px; */
    background-color: var(--background-color);
    color: var(--saves-text-color);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    outline: none;
}

@media (min-width: 800px) {
    .save-list {
        row-gap: 0.2em;
    }

    .save-entry {
        column-gap: 1em;
    }

    .save-entry > span {
        font-size: 0.875em;
    }

    .save-entry > button {
        width: calc(10vw);
        font-size: 0.875em;
    }

    .save-entry .save-file-input {
        width: calc(10vw);
        font-size: 0.875em;
        text-align: center;
    }

    .description {
        width: 60%;
        margin: auto;
        margin-bottom: 2em;
        font-size: 1em;
    }

    .description > div {
    }

    .save-name-label {
        font-size: 0.875em;
    }

    .save-name-input {
        font-size: 0.875em;
    }
}