.cheatmode-modal-content {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 70px;
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    border: solid 3px #535353;
    flex-direction: column;
}

.cheatmode-modal-yes {
    padding: 1em;
    width: 30%;
    background-color: red;
    color: white;
}

.cheatmode-modal-no {
    padding: 1em;
    width: 30%;
    background-color: #535353;
    color: white;
}

@media (min-width: 800px) {
    .cheatmode-modal-content {
        width: 600px;
        height: 140px;
    }
}
