.content {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2.5em;
}

@media (min-width: 800px) {
    .content {
        padding-top: 1em;
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 2.5em;
    }
}


.response {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.response > button {
    margin-bottom: 2em;
    padding: 0.5em;
    width: calc(80vw);

    background-color: var(--button-color);
    color: var(--button-text-color);
    border-color: var(--button-border-color);

    cursor: pointer;
}

@media (min-width: 800px) {
    .response > button {
        width: calc(30vw);
    }
}

button {
    font-family: Arial, sans-serif;
}


.stat_success {
    color: #009300
}

.stat_fail {
    color: #C00000
}
