<div class="about-main">
    <img src="/images/magium.ico">
    <p class="about-text">
        <%- aboutIntroText %>
    </p>
    <p class="about-text">
        <%= aboutSocialsText %>
    </p>
    <div class="about-socials">
        <div>
            <a href="https://discordapp.com/invite/4z9yJ4k">
                <img class="about-socials-img" src="/images/discord.svg">
            </a>
        </div>
        <div>
            <a href="https://www.reddit.com/r/Magium/">
                <img class="about-socials-img" src="/images/reddit.svg">
            </a>
        </div>
    </div>
    <p class="about-text">
        <%= aboutDevelopementText %>
    </p>
    <div class="about-socials">
        <div>
            <a href="https://github.com/thuiop/magium-dev">
                <img class="about-socials-img" src="/images/github.svg">
            </a>
        </div>
        <div>
            <a href="https://t.me/+xZaRFbK1P7wxYjI8">
                <img class="about-socials-img" src="/images/telegram.svg">
            </a>
        </div>
    </div>
</div>
<div style="display:none">
    <h2 class="header-title" id="header" hx-swap-oob="true">
        <%= aboutHeaderText %>
    </h2>
</div>
