<div class="about-main">
    <img src="/images/magium.ico">
    <p class="about-text">
        Magium is a Choose Your Own Adventure game initially written and developed by Cristian Mihailescu. <br>
        Following the passing of the author in August 2024, this version of a game was developed in order to preserve the legacy of the game and allow for the community to continue the development of the game in the future.
    </p>
    <p class="about-text">
        If you want to join the community :
    </p>
    <div class="about-socials">
        <div>
            <a href="https://discordapp.com/invite/4z9yJ4k">
                <img class="about-socials-img" src="/images/discord.svg">
            </a>
        </div>
        <div>
            <a href="https://www.reddit.com/r/Magium/">
                <img class="about-socials-img" src="/images/reddit.svg">
            </a>
        </div>
    </div>
    <p class="about-text">
        If you want to participate in the development effort:
    </p>
    <div class="about-socials">
        <div>
            <a href="https://github.com/thuiop/magium-dev">
                <img class="about-socials-img" src="/images/github.svg">
            </a>
        </div>
        <div>
            <a href="https://t.me/+xZaRFbK1P7wxYjI8">
                <img class="about-socials-img" src="/images/telegram.svg">
            </a>
        </div>
    </div>
</div>
