<% for (let i=1; i<4; i++) { %>
    <div class="response">
        <button
            hx-get="/achievements/book/<%= i %>"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
        > 
            <%= ejs.render(achievementsMenuBookTemplate,{"num":i}) %>
        </button>
    </div>
<% } %>
<div style="display:none">
    <h2 id="header" hx-swap-oob="true">
        <%= achievementsMenuHeaderText %>
    </h2>
</div>
