<% achievements.forEach(function(achievement) { console.log(locals[achievement.variable]); %>
    <div class="achievement-box">
        <div class="achievement-columns">
            <img src="<% if ((locals[achievement.variable] || 0) === "1") { %> /images/achievement_ok.png <% } else { %> /images/achievement_no.png <% } %>" width="30" height="30" />
            <div class="achievement-text">
                <div class="achievement-title"><%= achievement.title %></div>
                <div class="achievement-caption"><%= achievement.caption %></div>
            </div>
        </div>
    </div>
    <% }); %>
<div style="display:none">
    <h2 id="header" hx-swap-oob="true">
        <%= achievementsMenuHeaderText %>
    </h2>
</div>
