<div class="response">
    <button
        hx-get="/achievements/book/1"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true"
    > 
        Book 1
    </button>
</div>
<div class="response">
    <button
        hx-get="/achievements/book/2"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true"
    > 
        Book 2
    </button>
</div>
<div class="response">
    <button
        hx-get="/achievements/book/3"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true"
    > 
        Book 3
    </button>
</div>
<div style="display:none">
    <h2 id="header" hx-swap-oob="true">
        Achievements
    </h2>
</div>
