<%- text %>
<% responses.forEach(function(response){ %>

<div class="response">
    <button onClick="setResponseCookies(<%= JSON.stringify(response) %>)" hx-get="/scene/<%= response.target %>" hx-target="#content" hx-swap="innerHTML"})"> <%= response.text %> </button>
    <% }); %>
</div>
