<div class="main-menu">
    <div class="response">
        <button
            hx-get="/"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
        > 
            Return to game
        </button>
    </div>
    <div class="response">
        <button
            hx-get="/achievements"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
        > 
            Achievements
        </button>
    </div>
    <div class="response">
        <button
            hx-get="/saves"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
        > 
            Savegames
        </button>
    </div>
</div>
<div style="display:none">
    <h2 id="header" hx-swap-oob="true">
        Menu
    </h2>
</div>
