<script src="/scripts/night_mode.js"></script>
<div class="main-menu">
    <div class="response">
        <button
            hx-get="/"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
        > 
            Return to game
        </button>
    </div>
    <div class="response">
        <button
            hx-get="/"
            hx-on::before-request="clearState()"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
        > 
            New game / Restart book
        </button>
    </div>
    <div class="response">
        <button
            hx-get="/"
            hx-on::before-request="loadGameFromLocalStorage('checkpoint')"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
        > 
            Load from last checkpoint
        </button>
    </div>
    <div class="response">
        <button
            hx-post="/saves/0"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
            hx-ext="submitlocalstorage"
        > 
            Save / Load game
        </button>
    </div>
    <div class="response">
        <button
            hx-get="/achievements"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
        > 
            Achievements
        </button>
    </div>
    <div class="response">
        <button id="themeToggleBtn" onclick="nightModeButtonClick()">
            Activate night mode
        </button>
    </div>
</div>
<div style="display:none">
    <h2 id="header" hx-swap-oob="true">
        Menu
    </h2>
</div>
