<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Magium</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/utils.css">
    <link rel="stylesheet" href="/styles/stats.css">
    <link rel="stylesheet" href="/styles/saves.css">
    <link rel="stylesheet" href="/styles/achievements.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/about.css">
    <link rel="stylesheet" href="/styles/settings.css">
    <link rel="icon" href="/images/magium.ico" type="image/x-icon">
    <script src="/scripts/htmx.min.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="/scripts/lz-string.js"></script>
    <script src="/scripts/utils.js"></script>
    <script src="/scripts/saves.js"></script>
    <script src="/scripts/stats.js"></script>
    <script src="/scripts/night_mode.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
                let nightMode = localStorage.getItem("nightmode");
                if (nightMode) {
                    const root = document.querySelector(':root');
                    root.style.setProperty("color-scheme", nightMode);
                }
            }
        )
    </script>
  </head>
  <body>
    <main id="main">
        <div class="header">
            <button class="header-left" hx-get="/menu" hx-target="#content" hx-swap="innerHTML" hx-push-url="true"><%= outlineMenuButtonText %></button>
          <h2 id="header"><%= header %></h2>
          <button class="header-right" hx-post="/stats" hx-ext="submitcurrentstate" hx-target="#content" hx-swap="innerHTML" hx-push-url="true"><%= outlineStatsButtonText %></button>
        </div>
        <% if ((locals.path.includes("/saves")) || (locals.path.includes("/local_saves"))) { %>
            <div id="content" class="content" hx-post hx-trigger="load" hx-ext="submitlocalstorage"></div>
        <% } else if (locals.path === "/" || locals.path === "/stats" || (locals.path.includes("/achievements") && locals.path.includes("chapter"))) { %>
            <div id="content" class="content" hx-post hx-trigger="load" hx-ext="submitcurrentstate"></div>
        <% } else if (locals.path === "/settings") { %>
            <div id="content" class="content" hx-post hx-trigger="load" hx-ext="submitnightmode"></div>
        <% } else { %>
            <div id="content" class="content" hx-get hx-trigger="load"></div>
        <% } %>
        <div class="footer">
          <p>Magium v0.9.5</p>
        </div>
    </main>
  </body>
</html>
