<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Magium</title>
    <link rel="stylesheet" href="/styles/main2.css">
    <link rel="stylesheet" href="/styles/stats.css">
    <link rel="icon" href="/images/magium.ico" type="image/x-icon">
    <script src="/scripts/htmx.min.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="/scripts/utils.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
                loadGameFromLocalStorage("currentState");
            }
        )
        document.addEventListener("visibilitychange", function () {
                saveGameToLocalStorage("currentState");
            }
        )
    </script>
</head>
<body>
<main id="main">
    <div class="header">
        <button class="header-button" hx-get="/menu" hx-target="#content" hx-swap="innerHTML" hx-push-url="true">MAIN
            MENU
        </button>
        <h2 id="header"><%= header %></h2>
        <button class="header-button" hx-get="/stats" hx-target="#content" hx-swap="innerHTML" hx-push-url="true">
            STATS
        </button>
    </div>
    <% if (locals.path == "/saves") { %>
    <div id="content" class="content" hx-post hx-trigger="load" hx-ext="submitlocalstorage">
        <% } else { %>
        <div id="content" class="content" hx-get hx-trigger="load">
            <% } %>
        </div>
        <div class="footer">
            <p>Magium v0.1</p>
        </div>
    </div>
</main>
</body>
</html>
