<div class="description">
    Select a savegame slot from below. 
    <br>
    To save or load your game: 
    <br>
    To change the save names:
    <br>
    To overwrite a save: 
</div>
<div style="margin: auto;">
<div class="save-list">
    <% for (let i = 0; i < 9; i++) { %>
        <div class="save-entry">
            <span style="flex-grow: 1;">Slot <%= i %></span>
            <button 
            style="flex-grow: 1;"
            onClick="saveGameToLocalStorage('save<%= i %>')"
            hx-post
            hx-ext="submitlocalstorage"
            hx-target="#content"
            hx-swap="innerHTML"> 
                Save
            </button>
            <% if (saveData[`save${i}`]) { %>
            <button 
                style="flex-grow: 1;"
                hx-get="/"
                hx-on::before-request="loadGameFromLocalStorage('save<%= i %>')"
                hx-target="#content"
                hx-swap="innerHTML"
                hx-push-url="true"
            > 
                Load
            </button>
            <!-- <% console.log(locals) %> -->
            <input style="flex-grow: 1;" type="text" 
            value="<%= saveData[`save${i}`].date %>">
            <!-- <button style="flex-grow: 1;">Update</button> -->


            <% } else { %>


            <% } %>

        </div>
    <% }; %>
</div>
</div>
<div style="display:none">
    <h2 id="header" hx-swap-oob="true">
        SAVE/LOAD MENU
    </h2>
</div>
<div class="response">
    <button
        hx-get="/"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true"
    > 
        Return to game
    </button>
</div>