<div class="description">
    Select a savegame slot from below. 
    <br>
    To save or load your game: 
    <br>
    To change the save names:
    <br>
    To overwrite a save: 
</div>
<div class="response">
    <button
        hx-get="/"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true"
    > 
        Return to game
    </button>
</div>
<div class="save-list">
    <% for (let i = 0; i < 9; i++) { %>
        <div class="save-entry">
            Save <%= i %>
            <button 
            onClick="saveGameToLocalStorage('save<%= i %>')"
            hx-post
            hx-ext="submitlocalstorage"
            hx-target="#content"
            hx-swap="innerHTML"> 
                Save
            </button>
            <button 
                hx-get="/"
                hx-on::before-request="loadGameFromLocalStorage('save<%= i %>')"
                hx-target="#content"
                hx-swap="innerHTML"
                hx-push-url="true"
            > 
                Load
            </button>
            <% console.log(locals) %>
            <% if (saveData[`save${i}`]) { %> <%= saveData[`save${i}`].date %> <% } %>
        </div>
    <% }; %>
</div>
<div style="display:none">
    <h2 id="header" hx-swap-oob="true">
        SAVE/LOAD MENU
    </h2>
</div>
