<script src="/scripts/night_mode.js"></script>
<div class="main-menu">
    <div class="response">
        <button
            hx-get="/language"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
        > 
            <%= settingsLanguageText %>
        </button>
    </div>
    <div class="response">
        <button id="themeToggleBtn" onclick="nightModeButtonClick()">
            <%= settingsNightModeActivateText %>
        </button>
    </div>
    <div class="response">
        <button
            hx-get="/menu"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-push-url="true"
        > 
            <%= settingsBackToMenuText %>
        </button>
    </div>
</div>
<div style="display:none">
    <h2 id="header" hx-swap-oob="true">
        <%= settingsHeaderText %>
    </h2>
</div>
